:root {
  --palette-color-1: #2a2aff; /* text white */
  --palette-color-2: #4e4ebf; /* text white */
  --palette-color-3: #545480; /* text white */
  --palette-color-4: #aa9a54; /* text black */
  --palette-color-5: #ffd829; /* text black */

  --color-text: #000000;
  --color-background: #ffffff;
}

body {
  min-height: 100vh;
  color: var(--color-text);
  background: var(--color-background);
  transition:
    color 0.5s,
    background-color 0.5s;
  line-height: 1.5;
  font-family: Verdana, Arial, Helvetica, sans-serif;
  font-size: 15px !important;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
